* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #282c34!important;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #56B5AC!important;
}

header a {
  text-decoration: none;
  color: #56B5AC!important;
  border: 1px solid #56B5AC!important;
  border-radius: 30px;
  padding: 10px 20px;
  transition: .5s;
  display: inherit;
  margin-left: 10px!important;
}

header a:hover {
  text-decoration: none!important;
  background-color:  #56B5AC!important;
  color: #fff!important;
}

#footer a {
  color: #56B5AC!important;
}

header {
  background-color: transparent!important;
  box-shadow: none!important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 20px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #56B5AC; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #56B5AC; 
}

.rhap_container {
  background-color: transparent!important;
  box-shadow: none!important;
}

.rhap_time {
  color: grey!important;
}

.animateImage {
  animation: pulse 2s linear infinite, rotate 10s linear infinite;
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0#56B5AC;
  }
  70% {
      -webkit-box-shadow: 0 0 0 40px rgba(255,0,0, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,0,0, 0);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}