* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #282c34!important;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #56B5AC!important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 20px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #56B5AC; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #56B5AC; 
}

header {
  background-color: transparent!important;
  box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12)!important;
  margin-bottom: 50px;
}

header a {
  color: #56B5AC!important;
}

header a svg {
  font-size: 35px!important;
  margin-left: 10px;
}

#footer {
  box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12)!important;
}

.notInterested .MuiMenu-paper {
  background-color: #282c34!important;
  color: #fff!important;
}

.rhap_container {
  background-color: transparent!important;
  box-shadow: none!important;
}

.rhap_time {
  color: grey!important;
}

.animateImage {
  animation: pulse 2s linear infinite, rotate 10s linear infinite;
}

.MuiTabs-indicator {
  background-color: #56B5AC!important;
}

.MuiInput-underline:before {
  border-bottom: 1px solid grey!important;
}

.MuiInput-underline:after {
  border-bottom: 2px solid #56B5AC!important;
}

.MuiFormLabel-root {
  color: #56B5AC!important;
}

.MuiInputBase-root {
  color: #fff!important;
}
.paused{
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused; 
    animation-play-state:paused;
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0#56B5AC;
  }
  70% {
      -webkit-box-shadow: 0 0 0 40px rgba(255,0,0, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,0,0, 0);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}